.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 10em auto;
  padding: 2em;
  /* border: 2px solid rgb(61, 61, 61);
  border-radius: 10px; */
}

.calendar-header,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  grid-gap: 5px;
  width: 100%;
}

.calendar-header {
  margin-bottom: 5px;
}

.calendar-day-name,
.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 30px;
  aspect-ratio: 1;
  margin: auto;
  border: 1px solid #cccccc;
  padding: 10px;
}

.calendar-container-date {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
}

.calendar-day:hover {
  cursor: pointer;
}

.calendar-day.selected {
  color: whitesmoke;
  background-color: rgb(182, 114, 62);
}

/* .calendar-container-arrow {
  background-color: #4e7265;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
} */

/* .calendar-container-arrow:hover {
  background-color: rgb(59, 85, 75);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

/* .calendar-day:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

/*
.calendar-day-name {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.calendar-day {
  background-color: whitesmoke;
  width: 30px;
  height: 30px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  margin-left: 1.5em;
  cursor: pointer;
}
*/

/* @media (max-width: 768px)
  .calendar-grid {
    grid-template-columns: repeat(7, minmax(30px, 1fr));
  }

  .calendar-day-name, .calendar-day {
    padding: 5px;
  }
} */
