.calendar-container-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.calendar-container span {
  text-transform: uppercase;
  font-size: 1.5em;
  width: 250px;
}

.calendar-container-arrow {
  background-color: #4e7265;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.calendar-container-arrow:hover {
  background-color: rgb(59, 85, 75);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
}

.calendar-header,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  grid-gap: 5px;
  width: 100%;
}

.calendar-header {
  margin-bottom: 5px;
}

.calendar-header .calendar-day-name {
  background-color: #a3a3a3;
}

.calendar-day-name,
.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 30px;
  aspect-ratio: 1;
  margin: auto;
  border: 1px solid #cccccc;
  padding: 10px;
}

.calendar-day:hover {
  cursor: pointer;
}

.calendar-day.selected {
  color: whitesmoke;
  background-color: #4e7265;
}

.calendar-container .link-button {
  margin-top: 1em;
}