.lessonsList-container {
  grid-template-columns: 1fr;
  margin: 4em auto;
  padding: .5em 1em;
}

.lessonsList-grid {
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px;
  margin-top: 1.3em;
}

.lessonsList-lesson {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.lessonsList-content {
  display: none;
}

.lessonsList-content-expanded {
  display: block;
  font-size: 1.2em;
}

@media screen and (min-width: 700px) {
  .lessonsList-container {
    width: 40%;
  }
}